* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    margin: 0;
    padding: 0
}

header {
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 20px 0;
}

.bg-img {
    background-image: url("../cod.jpg");
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    /* background-attachment: fixed; */
}

.container {
    max-width: 600px;
    margin: 50px auto 0;
    background: rgba(174, 168, 211, 0.6);
    padding: 20px;
}

/* #name-label {
    width: 100%;
} */

/* label {
    width: 100%;
} */

.form-row {
    margin-bottom: 10px;
}

.form-label {
    display: block;
}

.form-text-row {
    width: 100%;
}